.list-group {
margin: 20px;
}

.viewBtn{
margin: 20px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}